.form{
    
    margin-left: 40%;
    margin-top: 30px;
    background-color: bisque;
    
    
    
}

.form input{
    display: block;
    margin-bottom: 10px;
    width: 50%;
    
}

*{
    background-image: url(image.jpg);
    background-repeat: no-repeat;
    
}

